# Secondary classifier

- All the requirements are clearly defined at the start of project only.
- Not easily adaptable to any changes after the start of the project
- User is involved only during starting phase of the project.
- Extra Skilled professionals are not reuqired in team
- No need of tester from the start of proect. Tester is required only during testing phase
- Works only on small size projects
- Time taken for development of product is more 
- cost reuqired is more.
- Risk analysis and management is done at moderate level.
- Risk is highly focused factor
- Documentation is very important or created at each phase pf project.
- Preferable for improvement of an old systems
- reusable components are Developed
- Flexibility in the process
- Good security provided
- Deployment time is less

In [36]:
import pandas as pd
import numpy as np
from tqdm import tqdm

import seaborn as sns
sns.set(rc={'figure.figsize':(6,4)})
import matplotlib.pyplot as plt
%matplotlib inline

In [37]:
col = [
    'All_the_requirements_are_clearly_defined_at_the_start_of_project_only',
    'Not_easily_adaptable_to_any_changes_after_the_start_of_the_project',
    'User_is_involved_only_during_starting_phase_of_the_project',
    'Extra_Skilled_professionals_are_not_reuqired_in_team',
    'No_need_of_tester_from_the_start_of_proect_Tester_is_required_only_during_testing_phase',
    'Works_only_on_small_size_projects',
    'Time_taken_for_development_of_product_is_more',
    'cost_reuqired_is_more',
    'Risk_analysis_and_management_is_done_at_moderate_level',
    'Risk_is_highly_focused_factor',
    'Documentation_is_very_important_or_created_at_each_phase_pf_project',
    'Preferable_for_improvement_of_an_old_systems',
    'reusable_components_are_Developed',
    'Flexibility_in_the_process',
    'Good_security_provided',
    'Deployment_time_is_less'
]
col = [item.lower() for item in col]
col

['all_the_requirements_are_clearly_defined_at_the_start_of_project_only',
 'not_easily_adaptable_to_any_changes_after_the_start_of_the_project',
 'user_is_involved_only_during_starting_phase_of_the_project',
 'extra_skilled_professionals_are_not_reuqired_in_team',
 'no_need_of_tester_from_the_start_of_proect_tester_is_required_only_during_testing_phase',
 'works_only_on_small_size_projects',
 'time_taken_for_development_of_product_is_more',
 'cost_reuqired_is_more',
 'risk_analysis_and_management_is_done_at_moderate_level',
 'risk_is_highly_focused_factor',
 'documentation_is_very_important_or_created_at_each_phase_pf_project',
 'preferable_for_improvement_of_an_old_systems',
 'reusable_components_are_developed',
 'flexibility_in_the_process',
 'good_security_provided',
 'deployment_time_is_less']

In [38]:
data = pd.DataFrame(columns=col)
data

Empty DataFrame
Columns: [all_the_requirements_are_clearly_defined_at_the_start_of_project_only, not_easily_adaptable_to_any_changes_after_the_start_of_the_project, user_is_involved_only_during_starting_phase_of_the_project, extra_skilled_professionals_are_not_reuqired_in_team, no_need_of_tester_from_the_start_of_proect_tester_is_required_only_during_testing_phase, works_only_on_small_size_projects, time_taken_for_development_of_product_is_more, cost_reuqired_is_more, risk_analysis_and_management_is_done_at_moderate_level, risk_is_highly_focused_factor, documentation_is_very_important_or_created_at_each_phase_pf_project, preferable_for_improvement_of_an_old_systems, reusable_components_are_developed, flexibility_in_the_process, good_security_provided, deployment_time_is_less]
Index: []

In [39]:
col_name = [f'Q_{i+1}' for i in range(len(data.columns))]
col_len = len(col_name)
data = pd.DataFrame(columns=col_name)

for i in tqdm(range(2**col_len)):
    data.loc[len(data.index)] = [*(bin(i).split('b')[1].zfill(col_len))]

data = data.apply(pd.to_numeric)
# data = data.sample(frac=1).reset_index(drop=True)
data.head()

100%|████████████████████████████████████████████████████████████████████████████████████████████| 65536/65536 [06:38<00:00, 164.39it/s]

,Q_1,Q_2,Q_3,Q_4,Q_5,Q_6,Q_7,Q_8,Q_9,Q_10,Q_11,Q_12,Q_13,Q_14,Q_15,Q_16
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
4,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65536 entries, 0 to 65535
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Q_1                            65536 non-null  int64
 1   Q_2                            65536 non-null  int64
 2   Q_3                            65536 non-null  int64
 3   Q_4                            65536 non-null  int64
 4   Q_5                            65536 non-null  int64
 5   Q_6                            65536 non-null  int64
 6   Q_7                            65536 non-null  int64
 7   Q_8                            65536 non-null  int64
 8   Q_9                            65536 non-null  int64
 9   Q_10                           65536 non-null  int64
 10  Q_11                           65536 non-null  int64
 11  Q_12                           65536 non-null  int64
 12  Q_13                           65536 non-null  int64
 13  Q_14                           65536 non-null  int64
 14  Q_15                           65536 non-null  int64
 15  Q_16                           65536 non-null  int64
 16  rapid_application_development  65536 non-null  object
 17  spiral                         0 non-null      float64
 18  prototyping                    0 non-null      float64
 19  scrum                          0 non-null      float64
 20  extreme_programming            0 non-null      float64
 21  feature_driven_development     0 non-null      float64
dtypes: float64(5), int64(16), object(1)
memory usage: 11.5+ MB

In [40]:
# c = ['Rapid_Application_Development',
#     'Spiral',
#     'Prototyping',
#     'Scrum',
#     'Extreme_Programming',
#     'Feature_driven_development'
# ]
# c = [item.lower() for item in c]
# c

In [79]:
data['rapid_application_development'] = np.nan
data['spiral'] = np.nan
data['prototyping'] = np.nan
data['scrum'] = np.nan
data['extreme_programming'] = np.nan
data['feature_driven_development'] = np.nan
data.head()

,Q_1,Q_2,Q_3,Q_4,Q_5,Q_6,Q_7,Q_8,Q_9,Q_10,...,Q_13,Q_14,Q_15,Q_16,rapid_application_development,spiral,prototyping,scrum,extreme_programming,feature_driven_development
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
# for i in col_name:
#     print(f"(data['{i}'] == 1) &")

In [82]:
data['rapid_application_development'] = np.where(
    (data['Q_1'] == 0) |
    (data['Q_2'] == 1) &
    (data['Q_3'] == 0) |
    (data['Q_4'] == 1) &
    (data['Q_5'] == 0) |
    (data['Q_6'] == 0) |
    (data['Q_7'] == 0) |
    (data['Q_8'] == 1) &
    (data['Q_9'] == 1) &
    (data['Q_10'] == 0) |
    (data['Q_11'] == 1) &
    (data['Q_12'] == 0) |
    (data['Q_13'] == 1) &
    (data['Q_14'] == 0) |
    (data['Q_15'] == 1) &
    (data['Q_16'] == 0), '1', '0')
data.head()

,Q_1,Q_2,Q_3,Q_4,Q_5,Q_6,Q_7,Q_8,Q_9,Q_10,...,Q_13,Q_14,Q_15,Q_16,rapid_application_development,spiral,prototyping,scrum,extreme_programming,feature_driven_development
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,NaN,NaN,NaN,NaN,NaN
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,NaN,NaN,NaN,NaN,NaN
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,NaN,NaN,NaN,NaN,NaN
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,NaN,NaN,NaN,NaN,NaN
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,NaN,NaN,NaN,NaN,NaN

In [83]:
data['rapid_application_development'].value_counts()

rapid_application_development
1    63835
0     1701
Name: count, dtype: int64

In [84]:
data['spiral'] = np.where(
    (data['Q_1'] == 0) |
    (data['Q_2'] == 0) |
    (data['Q_3'] == 0) |
    (data['Q_4'] == 1) &
    (data['Q_5'] == 0) |
    (data['Q_6'] == 1) &
    (data['Q_7'] == 1) &
    (data['Q_8'] == 1) &
    (data['Q_9'] == 0) |
    (data['Q_10'] == 1) &
    (data['Q_11'] == 1) &
    (data['Q_12'] == 0) |
    (data['Q_13'] == 1) &
    (data['Q_14'] == 1) &
    (data['Q_15'] == 0) |
    (data['Q_16'] == 0), '1', '0')
data.head()

,Q_1,Q_2,Q_3,Q_4,Q_5,Q_6,Q_7,Q_8,Q_9,Q_10,...,Q_13,Q_14,Q_15,Q_16,rapid_application_development,spiral,prototyping,scrum,extreme_programming,feature_driven_development
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,NaN,NaN,NaN,NaN
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,NaN,NaN,NaN,NaN
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,NaN,NaN,NaN,NaN
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,NaN,NaN,NaN,NaN
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,1,NaN,NaN,NaN,NaN

In [85]:
data['spiral'].value_counts()

spiral
1    63331
0     2205
Name: count, dtype: int64

In [86]:
data['prototyping'] = np.where(
    (data['Q_1'] == 0) |
    (data['Q_2'] == 0) |
    (data['Q_3'] == 0) |
    (data['Q_4'] == 1) &
    (data['Q_5'] == 0) |
    (data['Q_6'] == 1) &
    (data['Q_7'] == 1) &
    (data['Q_8'] == 0) |
    (data['Q_9'] == 1) &
    (data['Q_10'] == 0) |
    (data['Q_11'] == 1) &
    (data['Q_12'] == 0) |
    (data['Q_13'] == 0) |
    (data['Q_14'] == 1) &
    (data['Q_15'] == 0) |
    (data['Q_16'] == 1), '1', '0')
data.head()

,Q_1,Q_2,Q_3,Q_4,Q_5,Q_6,Q_7,Q_8,Q_9,Q_10,...,Q_13,Q_14,Q_15,Q_16,rapid_application_development,spiral,prototyping,scrum,extreme_programming,feature_driven_development
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,NaN,NaN,NaN
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,NaN,NaN,NaN
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,NaN,NaN,NaN
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,NaN,NaN,NaN
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,1,1,NaN,NaN,NaN

In [87]:
data['prototyping'].value_counts()

prototyping
1    64969
0      567
Name: count, dtype: int64

In [88]:
data['scrum'] = np.where(
    (data['Q_1'] == 0) |
    (data['Q_2'] == 0) |
    (data['Q_3'] == 0) |
    (data['Q_4'] == 0) |
    (data['Q_5'] == 0) |
    (data['Q_6'] == 0) |
    (data['Q_7'] == 0) |
    (data['Q_8'] == 0) |
    (data['Q_9'] == 0) |
    (data['Q_10'] == 0) |
    (data['Q_11'] == 0) |
    (data['Q_12'] == 1) &
    (data['Q_13'] == 1) &
    (data['Q_14'] == 1) &
    (data['Q_15'] == 1) &
    (data['Q_16'] == 1), '1', '0')
data.head()

,Q_1,Q_2,Q_3,Q_4,Q_5,Q_6,Q_7,Q_8,Q_9,Q_10,...,Q_13,Q_14,Q_15,Q_16,rapid_application_development,spiral,prototyping,scrum,extreme_programming,feature_driven_development
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,NaN,NaN
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,NaN,NaN
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,1,NaN,NaN
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,NaN,NaN
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,1,1,1,NaN,NaN

In [89]:
data['scrum'].value_counts()

scrum
1    65505
0       31
Name: count, dtype: int64

In [90]:
data['extreme_programming'] = np.where(
    (data['Q_1'] == 0) |
    (data['Q_2'] == 0) |
    (data['Q_3'] == 0) |
    (data['Q_4'] == 1) &
    (data['Q_5'] == 0) |
    (data['Q_6'] == 0) |
    (data['Q_7'] == 1) &
    (data['Q_8'] == 1) &
    (data['Q_9'] == 0) |
    (data['Q_10'] == 1) &
    (data['Q_11'] == 0) |
    (data['Q_12'] == 1) &
    (data['Q_13'] == 1) &
    (data['Q_14'] == 0) |
    (data['Q_15'] == 1) &
    (data['Q_16'] == 1), '1', '0')
data.head()

,Q_1,Q_2,Q_3,Q_4,Q_5,Q_6,Q_7,Q_8,Q_9,Q_10,...,Q_13,Q_14,Q_15,Q_16,rapid_application_development,spiral,prototyping,scrum,extreme_programming,feature_driven_development
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,NaN
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,NaN
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,1,1,NaN
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,NaN
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,1,1,1,1,NaN

In [91]:
data['extreme_programming'].value_counts()

extreme_programming
1    64213
0     1323
Name: count, dtype: int64

In [92]:
data['feature_driven_development'] = np.where(
    (data['Q_1'] == 0) |
    (data['Q_2'] == 0) |
    (data['Q_3'] == 0) |
    (data['Q_4'] == 0) |
    (data['Q_5'] == 0) |
    (data['Q_6'] == 0) |
    (data['Q_7'] == 1) &
    (data['Q_8'] == 0) |
    (data['Q_9'] == 1) &
    (data['Q_10'] == 0) |
    (data['Q_11'] == 0) |
    (data['Q_12'] == 0) |
    (data['Q_13'] == 1) &
    (data['Q_14'] == 1) &
    (data['Q_15'] == 0) |
    (data['Q_16'] == 1), '1', '0')
data.head()

,Q_1,Q_2,Q_3,Q_4,Q_5,Q_6,Q_7,Q_8,Q_9,Q_10,...,Q_13,Q_14,Q_15,Q_16,rapid_application_development,spiral,prototyping,scrum,extreme_programming,feature_driven_development
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,1,1,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,1
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,1,1,1,1,1

In [93]:
data['feature_driven_development'].value_counts()

feature_driven_development
1    65473
0       63
Name: count, dtype: int64

In [94]:
data

,Q_1,Q_2,Q_3,Q_4,Q_5,Q_6,Q_7,Q_8,Q_9,Q_10,...,Q_13,Q_14,Q_15,Q_16,rapid_application_development,spiral,prototyping,scrum,extreme_programming,feature_driven_development
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,1,1,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,1
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65531,1,1,1,1,1,1,1,1,1,1,...,1,0,1,1,1,0,1,0,1,1
65532,1,1,1,1,1,1,1,1,1,1,...,1,1,0,0,0,1,1,0,0,1
65533,1,1,1,1,1,1,1,1,1,1,...,1,1,0,1,0,1,1,0,0,1
65534,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,1,1,0,0,0,0
65535,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,1,1,1,1

In [95]:
data.to_csv('dataset\dataset_under_W_and_A_raw.csv', index=False)

In [97]:
data['under_waterfall_lable'] = data.apply(lambda x: str(x['rapid_application_development']) + 
                                                    str(x['spiral']) + 
                                                    str(x['prototyping']), 
                                           axis=1)
                                           
data['under_agile_lable'] = data.apply(lambda x: str(x['scrum']) + 
                                                    str(x['extreme_programming']) + 
                                                    str(x['feature_driven_development']), 
                                           axis=1)

In [98]:
data

,Q_1,Q_2,Q_3,Q_4,Q_5,Q_6,Q_7,Q_8,Q_9,Q_10,...,Q_15,Q_16,rapid_application_development,spiral,prototyping,scrum,extreme_programming,feature_driven_development,under_waterfall_lable,under_agile_lable
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,111,111
1,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,1,1,1,111,111
2,0,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,1,1,1,111,111
3,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,111,111
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,111,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65531,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,1,0,1,1,101,011
65532,1,1,1,1,1,1,1,1,1,1,...,0,0,0,1,1,0,0,1,011,001
65533,1,1,1,1,1,1,1,1,1,1,...,0,1,0,1,1,0,0,1,011,001
65534,1,1,1,1,1,1,1,1,1,1,...,1,0,1,1,0,0,0,0,110,000
65535,1,1,1,1,1,1,1,1,1,1,...,1,1,0,0,1,1,1,1,001,111

In [99]:
data['under_waterfall_lable'].value_counts()

under_waterfall_lable
111    61288
101     1980
011     1476
110      567
001      225
Name: count, dtype: int64

In [100]:
data['under_agile_lable'].value_counts()

under_agile_lable
111    64177
101     1272
100       30
110       26
001       16
011        8
000        5
010        2
Name: count, dtype: int64

In [101]:
data.columns

Index(['Q_1', 'Q_2', 'Q_3', 'Q_4', 'Q_5', 'Q_6', 'Q_7', 'Q_8', 'Q_9', 'Q_10',
       'Q_11', 'Q_12', 'Q_13', 'Q_14', 'Q_15', 'Q_16',
       'rapid_application_development', 'spiral', 'prototyping', 'scrum',
       'extreme_programming', 'feature_driven_development',
       'under_waterfall_lable', 'under_agile_lable'],
      dtype='object')

In [102]:
under_waterfall_data = data[['Q_1', 'Q_2', 'Q_3', 'Q_4', 'Q_5', 'Q_6', 'Q_7', 'Q_8', 'Q_9', 'Q_10',
       'Q_11', 'Q_12', 'Q_13', 'Q_14', 'Q_15', 'Q_16', 'under_waterfall_lable']]
under_waterfall_data

,Q_1,Q_2,Q_3,Q_4,Q_5,Q_6,Q_7,Q_8,Q_9,Q_10,Q_11,Q_12,Q_13,Q_14,Q_15,Q_16,under_waterfall_lable
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,111
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,111
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,111
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,111
4,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65531,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,101
65532,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,011
65533,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,011
65534,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,110
65535,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,001

In [103]:
under_waterfall_data['under_waterfall_lable'].value_counts()

under_waterfall_lable
111    61288
101     1980
011     1476
110      567
001      225
Name: count, dtype: int64

In [105]:
under_waterfall_data['class'] = np.select(
    [under_waterfall_data['under_waterfall_lable'] == '001', 
     under_waterfall_data['under_waterfall_lable'] == '011', 
     under_waterfall_data['under_waterfall_lable'] == '101', 
     under_waterfall_data['under_waterfall_lable'] == '110',
     under_waterfall_data['under_waterfall_lable'] == '111'],
    [0, 1, 2, 3, 4],
    default='unknown'
)
under_waterfall_data.head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_9192\1067872787.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  under_waterfall_data['class'] = np.select(

,Q_1,Q_2,Q_3,Q_4,Q_5,Q_6,Q_7,Q_8,Q_9,Q_10,Q_11,Q_12,Q_13,Q_14,Q_15,Q_16,under_waterfall_lable,class
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,111,4
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,111,4
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,111,4
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,111,4
4,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,111,4

In [106]:
under_waterfall_data['class'].value_counts()

class
4    61288
2     1980
1     1476
3      567
0      225
Name: count, dtype: int64

In [107]:
under_waterfall_data.to_csv('dataset\dataset_under_waterfall_data_class.csv', index=False)

# -----

In [108]:
data.columns

Index(['Q_1', 'Q_2', 'Q_3', 'Q_4', 'Q_5', 'Q_6', 'Q_7', 'Q_8', 'Q_9', 'Q_10',
       'Q_11', 'Q_12', 'Q_13', 'Q_14', 'Q_15', 'Q_16',
       'rapid_application_development', 'spiral', 'prototyping', 'scrum',
       'extreme_programming', 'feature_driven_development',
       'under_waterfall_lable', 'under_agile_lable'],
      dtype='object')

In [109]:
under_agile_data = data[['Q_1', 'Q_2', 'Q_3', 'Q_4', 'Q_5', 'Q_6', 'Q_7', 'Q_8', 'Q_9', 'Q_10',
       'Q_11', 'Q_12', 'Q_13', 'Q_14', 'Q_15', 'Q_16', 'under_agile_lable']]
under_agile_data

,Q_1,Q_2,Q_3,Q_4,Q_5,Q_6,Q_7,Q_8,Q_9,Q_10,Q_11,Q_12,Q_13,Q_14,Q_15,Q_16,under_agile_lable
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,111
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,111
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,111
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,111
4,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65531,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,011
65532,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,001
65533,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,001
65534,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,000
65535,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,111

In [110]:
under_agile_data['under_agile_lable'].value_counts()

under_agile_lable
111    64177
101     1272
100       30
110       26
001       16
011        8
000        5
010        2
Name: count, dtype: int64

In [111]:
under_agile_data['class'] = np.select(
    [under_agile_data['under_agile_lable'] == '000', 
     under_agile_data['under_agile_lable'] == '001', 
     under_agile_data['under_agile_lable'] == '010', 
     under_agile_data['under_agile_lable'] == '011',
     under_agile_data['under_agile_lable'] == '100', 
     under_agile_data['under_agile_lable'] == '101',
     under_agile_data['under_agile_lable'] == '110', 
     under_agile_data['under_agile_lable'] == '111'],
    [0, 1, 2, 3, 4, 5, 6, 7],
    default='unknown'
)
under_agile_data.head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_9192\4048808119.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  under_agile_data['class'] = np.select(

,Q_1,Q_2,Q_3,Q_4,Q_5,Q_6,Q_7,Q_8,Q_9,Q_10,Q_11,Q_12,Q_13,Q_14,Q_15,Q_16,under_agile_lable,class
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,111,7
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,111,7
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,111,7
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,111,7
4,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,111,7

In [112]:
under_agile_data['class'].value_counts()

class
7    64177
5     1272
4       30
6       26
1       16
3        8
0        5
2        2
Name: count, dtype: int64

In [113]:
under_agile_data.to_csv('dataset\dataset_under_agile_data_class.csv', index=False)